@model BooksShelfVM

@{
    ViewBag.Title = "Books Shelves";
}
<a class="btn btn-outline-dark ml-2 mb-2" asp-action="Create">Create New</a>
<table class="table table-bordered table-responsive-lg">
    <form method="post">

        <thead>
        <tr>
            <th>
                Insert Date Between :
            </th>
            <th>
                Modify Date Between :
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatorEmployee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifierEmployee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sector)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Section)
            </th>
            <th>
                Options
            </th>
        </tr>
        <tr>
            <td>
                <div class="row">
                    <div class="col-md-12">
                        <label class="ml-2 mt-1" for="InsertStartDate"> From : </label>
                        <input type="date" id="InsertStartDate" asp-for="InsertStartDate" min="1000-01-01"
                               max="3000-12-31" class="w-75 mb-1 float-right form-control mr-sm-2 ml-2">
                    </div>
                    <div class="col-md-12">
                        <label class="ml-2 mt-1" for="InsertEndDate"> To : </label>
                        <input type="date" id="InsertEndDate" asp-for="InsertEndDate" min="1000-01-01"
                               max="3000-12-31" class="w-75 float-right form-control mr-sm-2 ml-2">
                    </div>
                </div>
            </td>
            <td>
                <div class="row">
                    <div class="col-md-12">
                        <label class="ml-2 mt-1" for="ModifyStartDate"> From : </label>
                        <input type="date" id="ModifyStartDate" asp-for="ModifyStartDate" min="1000-01-01"
                               max="3000-12-31" class="w-75  mb-1 float-right form-control mr-sm-2 ml-2">
                    </div>
                    <div class="col-md-12">
                        <label class="ml-2 mt-1" for="ModifyEndDate"> To : </label>
                        <input type="date" id="ModifyEndDate" asp-for="ModifyEndDate" min="1000-01-01"
                               max="3000-12-31" class="w-75 float-right form-control mr-sm-2 ml-2">
                    </div>
                </div>
            </td>
            <td>
                @Html.DropDownList("CreatorId",
                    Model.CreatorEmployeesSelectList,
                    "Select \n Creator",
                    new {@class = " btn btn-secondary"})
            </td>
            <td>
                @Html.DropDownList("ModifierId",
                    Model.ModifierEmployeesSelectList,
                    "Select \n Modifier",
                    new {@class = " btn btn-secondary"})
            </td>
            <td>
                @Html.DropDownList("SectorId",
                    Model.SectorsSelectList,
                    "Select \n Sector",
                    new {@class = " btn btn-secondary"})
            </td>
            <td>
                <select asp-for="SectionId" class="btn btn-secondary">
                    <option selected="selected">
                        Select Section
                    </option>
                </select>
            </td>
            <td>
                <button type="submit" id="SearchBtn" class="btn btn-outline-dark">Fitler</button>
            </td>
        </tr>
        </thead>
    </form>

</table>
<table class="table table-responsive-lg ">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            Insert Date :
        </th>
        <th>
            Modify Date :
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatorEmployee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifierEmployee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sector)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Section)
        </th>
        <th>
            Options
        </th>
    </tr>
    </thead>
    <tbody id="Data">
    @foreach (var record in Model.BooksShelves)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => record.Name)
            </td>
            <td>
                @Html.DisplayFor(model => record.InsertDate)
            </td>
            <td>
                @Html.DisplayFor(model => record.ModifyDate)
            </td>
            <td>
                @Html.DisplayFor(model => record.CreatorEmployee)
            </td>
            <td>
                @Html.DisplayFor(model => record.ModifierEmployee)
            </td>
            <td>
                @Html.DisplayFor(model => record.Sector)
            </td>
            <td>
                @Html.DisplayFor(model => record.Section)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {Id = @record.Id}) |
                @Html.ActionLink("Delete", "Delete", new {Id = @record.Id})
            </td>
        </tr>
    }

    </tbody>
</table>
<script src="~/js/AjaxCodeForSmallThings.js">

</script>