@model IEnumerable<EmployeeVM>

@{
    ViewData["Title"] = "Index";
}

<h3>Employees</h3>
<hr />
<div class="mb-3 form-inline my-2">
        <input class="form-control mr-sm-2 w-25" id="SearchValue" type="search" placeholder="Search by User Id" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" id="SearchBtn" type="submit">Search</button>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InsertDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifyDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="Data">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InsertDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifyDate)
                </td>
            </tr>
        }
    </tbody>
</table>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#SearchBtn").click(function () {
            var searchValue = $("#SearchValue").val();
            if (searchValue.length > 0) {
                var DataTBody = $("#Data");
                DataTBody.html("");
                $.ajax({
                    type: "post",
                    url: '@Url.Action("SearchRecord")',
                    data: { search: searchValue },
                    success: function (response) {
                        console.log(response);
                        for (var i = 0; i < response.length; i++) {
                            var row = "<tr>" +
                                "<td>" + response[i].id + "</td>" +
                                "<td>" + response[i].firstName + "</td>" +
                                "<td>" + response[i].lastName + "</td>" +
                                "<td>" + response[i].age + "</td>" +
                                "<td>" + response[i].insertDate + "</td>" +
                                "<td>" + response[i].modifyDate + "</td>" +
                                + "</tr>";
                            DataTBody.append(row);
                        }
                    }
                });
            }
        });
    });
</script>